:host ::ng-deep {
  --ds-wrapper-grid-spacing: calc(var(--bs-spacer) / 2);

  div.card {
    margin-top: var(--ds-wrapper-grid-spacing);
    margin-bottom: var(--ds-wrapper-grid-spacing);

    div.thumbnail {
      height: var(--ds-card-thumbnail-height);
      width: 100%;
      align-items: center !important;
      justify-content: center !important;
      flex-wrap: wrap !important;
      display: flex !important;

      > .thumbnail-content {
        max-height: var(--ds-card-thumbnail-height);
      }
    }

    .card-body {
      padding: .75rem;
    }
  }
}

.card-columns {
  margin-left: calc(-1 * var(--ds-wrapper-grid-spacing));
  margin-right: calc(-1 * var(--ds-wrapper-grid-spacing));
  column-gap: 0;

  .card-column {
    padding-left: var(--ds-wrapper-grid-spacing);
    padding-right: var(--ds-wrapper-grid-spacing);
  }
}
