@if (isLoading) {
  <div class="text-center">
    <ds-themed-loading></ds-themed-loading>
  </div>
}

@if (cardsData && !isLoading) {
  @if (cardHeader) {
    <h3 class="counters-card-header">{{ cardHeader | translate }}</h3>
  }
  <div class="counters-container"
    [class.per-row-1]="cardsPerRow === 1"
    [class.per-row-2]="cardsPerRow === 2"
    [class.per-row-3]="cardsPerRow === 3"
    [class.per-row-4]="cardsPerRow === 4"
    [class.per-row-5]="cardsPerRow === 5"
    [class.counter-large-image]="isLargeImage">
    <ng-container [ngTemplateOutlet]="card"
      [ngTemplateOutletContext]="{cards: cardsData}">
    </ng-container>
  </div>
  @if (chartsEnabled) {
    <ds-stats-charts [data]="chartData" [chartLoading]="chartLoading"></ds-stats-charts>
  }
}

<ng-template #card let-cards="cards">
  @for (cardData of cards; track cardData) {
    <div class="counter-parent">
      @if (cardData.settings.queryParams != null) {
        <div
          class="card card-filtering"
          [routerLink]="cardData.settings.routerLink"
          [queryParams]="cardData.settings.queryParams">
          <ng-container [ngTemplateOutlet]="cardBody"
            [ngTemplateOutletContext]="{cardData: cardData}">
          </ng-container>
        </div>
      }
      @if (cardData.settings.chart != null) {
        <div
          class="card card-charts" [class.active-chart]="activeChart === cardData.settings.chart.field"
          (click)="renderChart(cardData.settings)">
          <ng-container [ngTemplateOutlet]="cardBody"
            [ngTemplateOutletContext]="{cardData: cardData}">
          </ng-container>
        </div>
      }
      @if (cardData.settings.queryParams == null && cardData.settings.chart == null) {
        <div class="card">
          <ng-container [ngTemplateOutlet]="cardBody"
            [ngTemplateOutletContext]="{cardData: cardData}">
          </ng-container>
        </div>
      }
    </div>
  }
</ng-template>

<ng-template #cardBody let-cardData="cardData">
  <div class="card-body">
    @if (cardData.settings.icon) {
      <i class="card-icon {{ cardData.settings.icon }}"></i>
    }
    @if (!cardData.settings.icon && cardData.settings.image) {
      <i class="card-icon">
        <img [src]="cardData.settings.image">
      </i>
    }
    <h5 class="card-title">
      <div class="card-text">{{ cardData.settings.title | translate }}</div>
      <strong>
        {{ cardData.value | number }}
        @if (cardData.settings.show_percentage) {
          <small class="small-text">
            / {{ cardData.value / cardData.total * 100 | number: '1.1-2' }} %
          </small>
        }
      </strong>
    </h5>
    @if (cardData.settings.queryParams != null) {
      <i class="fa-solid fa-filter card-icon-function"></i>
    }
    @if (cardData.settings.chart != null) {
      <i class="fa-solid fa-chart-line card-icon-function"></i>
    }
  </div>
</ng-template>
