<div class="container">

  <ng-container *ngVar="(scope$ | async) as scope">
    <h1 *ngIf="scope"
        class="header"
        id="{{ scope.id }}">
      {{ 'statistics.header' | translate: { scope: getName(scope) } }}
    </h1>
  </ng-container>

  <h4 class="text-center my-3">
    For more details please visit our
    <a target="_blank" rel="noopener noreferrer"
       href="https://app.powerbi.com/view?r=eyJrIjoiYWNhZDEzYjktYzMwZi00NjEwLTk0MGMtYWY1ZjZlY2Y0NmE2IiwidCI6IjZhZmEwZTAwLWZhMTQtNDBiNy04YTJlLTIyYTdmOGMzNTdkNSIsImMiOjh9&pageName=eb4ac1b70514fd315289">
      Repositories Engagement Dashboard
      <i class="fa-solid fa-magnifying-glass-chart"></i>
    </a>
  </h4>

  <ds-item-statistics [itemId]="null"
                      [dspaceObjectType]="'repository'"
                      [labelViews]="'item.page.statistics.views'"
                      [labelDownloads]="'item.page.statistics.downloads'"
                      [renderAggregations]="true">
  </ds-item-statistics>

  <ng-container *ngVar="reports$ | async as reports">

    <ng-container *ngIf="!reports">
      <ds-themed-loading></ds-themed-loading>
    </ng-container>

    <ng-container *ngIf="reports">
      <ds-statistics-table *ngFor="let report of reports"
                           [report]="report"
                           class="m-2 {{ report.id }}">
      </ds-statistics-table>
      <div *ngIf="!(hasData$ | async)">
        {{ 'statistics.page.no-data' | translate }}
      </div>
    </ng-container>

  </ng-container>

</div>
