<ds-home-coar></ds-home-coar>
<ds-home-news></ds-home-news>
<div class="container">
  @if (topPageCardsSettings) {
    <ds-cards
      [cardsSettings]="topPageCardsSettings"
      [cardHeader]="''"
      [cardsPerRow]="5"
      [isLargeImage]="false"
      [chartsEnabled]="false"
      [collectionsCards]="false">
    </ds-cards>
  }

  @if (impactAreasCardsSettings) {
    <ds-cards
      [cardsSettings]="impactAreasCardsSettings"
      [cardHeader]="'search.filters.filter.impact_area.head'"
      [cardsPerRow]="5"
      [isLargeImage]="true"
      [chartsEnabled]="false"
      [collectionsCards]="false">
    </ds-cards>
  }

  <ds-search-form [inPlaceSearch]="false"
  [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>
  <!--  <ds-themed-top-level-community-list></ds-themed-top-level-community-list>-->

  @if (chartsCardsSettings) {
    <ds-cards
      [cardsSettings]="chartsCardsSettings"
      [cardHeader]="''"
      [cardsPerRow]="5"
      [isLargeImage]="false"
      [chartsEnabled]="true"
      [collectionsCards]="false">
    </ds-cards>
  }

  @if (showDiscoverFilters) {
    <div class="d-flex flex-row border-bottom mb-4 pb-4 ng-tns-c169055882-8"></div>
    <ds-configuration-search-page
      [sideBarWidth]="3"
      [showViewModes]="false"
      [searchEnabled]="false"
      [inPlaceSearch]="false"
      [showScopeSelector]="false">
      @if (recentSubmissionspageSize > 0) {
        <ds-recent-item-list></ds-recent-item-list>
      }
    </ds-configuration-search-page>
  } @else {
    @if (recentSubmissionspageSize > 0) {
      <ds-recent-item-list></ds-recent-item-list>
    }
  }
</div>
