<ds-themed-home-news></ds-themed-home-news>
<div class="container mt-5">
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>

  <ds-cards *ngIf="topPageCardsSettings"
            [cardsSettings]="topPageCardsSettings"
            [cardHeader]="''"
            [cardsPerRow]="5"
            [isLargeImage]="false"
            [chartsEnabled]="false"
            [collectionsCards]="false">
  </ds-cards>

  <ds-cards [cardsSettings]="[]"
            [cardHeader]="'Focus Areas'"
            [cardsPerRow]="5"
            [isLargeImage]="true"
            [chartsEnabled]="false"
            [collectionsCards]="true">
  </ds-cards>

  <!--  <ds-themed-top-level-community-list></ds-themed-top-level-community-list>-->

  <ds-recent-item-list *ngIf="recentSubmissionspageSize>0"></ds-recent-item-list>
</div>

<div class="research-info-container">
  <div class="container mt-5 py-5">
    <h3 class="display-4 mb-5">Research related info</h3>
    <div class="d-flex justify-content-between flex-wrap">
      <a target="_blank" rel="noopener noreferrer" href="https://www.cgiar.org/research/cgiar-portfolio/"
         class="d-flex flex-column justify-content-center align-items-center flex-wrap gap-3"
         ngbTooltip="WorldFish Knowledge products are tagged to its relevant CGIAR Impact Areas.">
        <img src="assets/cgiar/images/CGIAR-impact_areas_logo.png">
        <h3>
          CGIAR Impact Areas
        </h3>
      </a>
      <a target="_blank" rel="noopener noreferrer" href="https://www.altmetric.com"
         class="d-flex flex-column justify-content-center align-items-center flex-wrap gap-3"
         ngbTooltip="Metrics for assessing other measures of use and influence, such as number of times publication is read, downloaded, saved, mentioned or cited in popular online sources.">
        <img src="assets/cgiar/images/Altmetric_logo.png">
        <h3>
          Altmetric
        </h3>
      </a>
      <a target="_blank" rel="noopener noreferrer" href="https://orcid.org"
         class="d-flex flex-column justify-content-center align-items-center flex-wrap gap-3"
         ngbTooltip="Provides a persistent digital identifier (an ORCID ID) that you own and control. Connect this ID with professional information – grants, publications, peer review, etc.">
        <img src="assets/cgiar/images/ORCID_Logo.png">
        <h3>
          ORCID
        </h3>
      </a>
      <a target="_blank" rel="noopener noreferrer" href="https://agrovoc.fao.org/browse/agrovoc/en"
         class="d-flex flex-column justify-content-center align-items-center flex-wrap gap-3"
         ngbTooltip="AGROVOC is a multilingual controlled vocabulary covering areas of interest of the Food and Agriculture Organization of the United Nations, aiming to promote the visibility of research produced among FAO members.">
        <img src="assets/cgiar/images/AGROVOC-logo.gif">
        <h3>
          AGROVOC
        </h3>
      </a>
    </div>
  </div>
  <img src="/assets/cgiar/images/network.png">
</div>

<div class="container mt-5">
  <ds-cards *ngIf="chartsCardsSettings"
            [cardsSettings]="chartsCardsSettings"
            [cardHeader]="''"
            [cardsPerRow]="5"
            [isLargeImage]="false"
            [chartsEnabled]="true"
            [collectionsCards]="false">
  </ds-cards>
</div>
