<div class="social-kit-container d-flex flex-row justify-content-center gap-2">
  @for (icon of icons; track icon) {
    @if (icon.type !== 'link') {
      <a class="social-kit-link d-flex justify-content-center align-items-center"
        [ngbTooltip]="icon.tooltip"
        target="_blank" [href]="icon.link">
        <i [class]="icon.iconClass + ' social-kit-icon'"></i>
      </a>
    }
    @if (icon.type === 'link') {
      <a class="social-kit-link d-flex justify-content-center align-items-center"
        [ngbTooltip]="icon.tooltip"
        [cdkCopyToClipboard]="icon.link">
        <i [class]="icon.iconClass + ' social-kit-icon'"></i>
      </a>
    }
  }
</div>

