<div class="chart-wrapper">
  @if (chartLoading | async) {
    <div class="text-center">
      <ds-themed-loading></ds-themed-loading>
    </div>
  }
  @if (chartOptions?.series && isHighcharts) {
    <highcharts-chart
      [class.hide]="(chartLoading | async) || !chartOptions?.series"
      #chart
      [Highcharts]="highcharts"
      [options]="chartOptions"
      [update]="updateFlag"
      [callbackFunction]="chartCallback"
      [constructorType]="isMap ? 'mapChart' : 'chart'"
    ></highcharts-chart>
  }
</div>
